html {
  height: 100%;
  width: 100%;
}
.phandau {
  color: white; 
  background-color: #68b6ef; 
  text-align: center; 
  padding: 50px;
  font-size: 50px; 
}
.giua{
  display:inline-block ;
  height: 70%
}
.trinhdon {
  display: flex;
  background-color: #ff8fab; 
  padding: 30px; 
 
}
.hello { 
  color:white;
  font-size: 30px;
  text-decoration: none;
  padding: 5px 10px; 
}
 
.noidung {
  color: black;
  height: 500px;
}
iframe{
 height: 100%;
  width: 100%;
  
}