html {
height: 100%; width: 100%;
4}
5h2 & color:pink; font-family:verdana;}
6h3 & color:yellow; font-family:verdana;}
7 label { font-size: 20px;font-weight:bold;}
8 inputs background-color: pink;}
9 textarea & background-color: ivory;}